<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="Images/favicon.ico" rel="icon">
<link type="text/css" media="all" rel="stylesheet"
   href="../static/bookCSS/myCSS.css" 
   th:href="@{/bookCSS/myCSS.css}" />
<title>Davis Campus</title>
</head>
<body>
<center>

<h1 id="headline"> Sheridan - Davis Campus Book Store</h1>

<button><a href="/addBooks">Add Books</a></button><br><br>
<button><a href="/dummyBooks">Dummy Records</a></button><br><br>
<button><a href="/view">View Books</a></button><br><br>
<button><a href="/searchBooks">Search</a></button><br><br>
<button id="home"><a href="/">Home Page</a></button>
</center>

</body>
</html>