<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="Images/favicon.ico" rel="icon">
<link type="text/css" media="all" rel="stylesheet"
   href="../static/bookCSS/myCSS.css" 
   th:href="@{/bookCSS/myCSS.css}" />
<title>HMC Campus</title>
</head>
<body>
<center>

<h1 id="headline"> Sheridan - Trafalgar Campus Book Store</h1>

<button><a href="/addBookstra">Add Books</a></button><br><br>
<button><a href="/dummyBookstra">Dummy Records</a></button><br><br>
<button><a href="/view">View Books</a></button><br><br>
<button><a href="/searchBookstra">Search</a></button><br><br>
<button id="home"><a href="/">Home Page</a></button>
</center>
</body>
</html>